body {
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
}

.topnav{
  position: relative;
  width: 100%;
  background-color: #BDBDBD;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #868281;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.topnav-left {
  float: left;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

h1 {
  opacity: 1;
  font-size: 30px;
  font-weight: bold;
}

#description{
  font-size: 18px;
  text-align: left;
}


.butn {
  cursor: pointer;
  background: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: -moz-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: -ms-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: -o-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: linear-gradient(to bottom, #f9f9f9, #BDBDBD);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #e3e3e3 3px;
  text-decoration: none;
}

.butn:hover {
  background: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: -moz-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: -ms-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: -o-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: linear-gradient(to bottom, #e3e3e3, #e3e3e3);
  text-decoration: none;
}

select {
  cursor: pointer;
}

input {
    cursor: pointer;
    background-color: #BDBDBD;
    color: black;
    padding: 5px 8px;
}

input:hover{
    border-color: black;
    border: 1px solid #999;
    border-radius: 3px;
}

#cy {
      width: 71.5%;
      /*height: 75%;*/
      position: absolute;
      top: 250px;
      left: 190px;
      bottom: 15px;
      background-color:none;
      /*border: solid #BDBDBD;*/
  }
#searchgene{
  margin-left: 30px;
}

#legend {
    position: absolute;
    top: 280px;
heatmap
    left: 10px;
    font-size: 11px;
    width: 180px;
    height: 490px;
}
#legendNodes {
    position: absolute;
    top: 540px;
    left: 10px;
    font-size: 11px;
    width: 180px;
    height: 200px;
}

.KEGGpathsButton{
  position: absolute;
  top: 300px;
  left:85%;
}
#KEGGpaths{
  position: absolute;
  top: 350px;
  left:86%;
}
#keggpathways{
    position: absolute;
  top: 320px;
  left:86%;
}
#keggpathwaysMerge{
    position: absolute;
  top: 120px;
  left:86%;
}
#KEGGpathsMerge{
    position: absolute;
  top: 150px;
  left:86%;
}

#subgraphs{
    margin-top: 5px;
    margin-left: 220px;
}

#keggpathwaysRight{
    position: absolute;
  top: 120px;
  left:84%;
}
#KEGGpathsRight{
    position: absolute;
  top: 150px;
  left:84%;
}
#keggpathwaysLeft{
    position: absolute;
  top: 120px;
  left:84%;
}
#KEGGpathsLeft{
    position: absolute;
  top: 150px;
  left:84%;
}

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

#heatmapcontainer {
    min-width: 300px;
    max-width: 1000px;
    height: 400px;
    margin: 1em auto;
}
#downloadPartLeft{
    margin-top: 20px;
}
#outputNameHeatmap{
    margin-left: 20px;
}
#left {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

#right {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 10px 10px 10px 10px;
}
#rightID{
    font-weight: bold;
}
#leftID{
    font-weight: bold;
}
#downloadPartRight{
    margin-top: 20px;
}
 #cyLeft {
    width: 85%;
    height: 100%;
    position: absolute;
    margin: 0% 5% 5% 0px;
}

#cyRight {
    width: 85%;
    height: 100%;
    position: absolute;
    margin: 0% 10% 5% 0%;
}
 #merged_graph {
      width: 60%;
      /*height: 75%;*/
      position: absolute;
      top: 180px;
      left: 280px;
      bottom: 15px;
      background-color:none;
}

#legend_heatmap {
    position: absolute;
    top: 750px;
    left: 10px;
    font-size: 11px;
    bottom: 10px;
    /*overflow: hidden; */
}
#merged_graph_legend {
    font-size: 11px;
    margin-top: 10px;
    /*overflow: hidden; */
}
#legendArrows {
    width: 300px;
    float:left;
}

#merged_graph_buttons{
    position: relative;
    margin: 20px 10px 10px 10px;
}

#selectlayoutMerged{
    position: relative;
    margin-left: 50px;
}

.center-div
{
     margin: 0 auto;
     width: 100px; 
}

/* Style the active class, and buttons on mouse-over */
.active{
  background-color: #868281;
  color: white;
}

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; position: absolute; bottom: 0;}

.footer-heading { font-size: 18px; margin-bottom: 15px; }
