body {
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 12px;
  height:100%;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

.dropdown {
  /*float: right;*/
  width: 5vw;
  margin-right: 4vw;
  border-radius:4px;
}
.dropdown .dropbtn {
  font-size: 1vw;  
  border: none;
  outline: none;
  color: black;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown .dropbtnright {
  font-size: 1vw;  
  border: none;
  outline: none;
  color: black;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn_topnav {
  font-size: 1vw;  
  border: none;
  outline: none;
  color: black;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
li{
  z-index: 9;
}
ul{
  z-index: 9;
}

.topnav{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
  border-top: 1px solid #DCDCDC;
  color: grey;
  text-decoration: none;
  height: 3vw;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 1vw 16px;
}

.topnav a:hover {
  text-decoration: underline;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/*
.dropdown-content a:hover {
  background-color: #ddd;
}*/

.dropdown:hover .dropdown-content {
  display: block;
}

a:visited{color: blue}
.page-link{color: #000;}
.page-link:visited {color:#000;}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  font-size: 1vw;
  /*margin-top: 1vw;*/
}
.topnav-left {
  float: left;
  font-size: 1vw;
}
.topnav-centered a{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  font-weight: 500;
}

.vl {
  border-left: thin solid #BDBDBD;
  height: 500px;
}

#description{
  font-size: 18px;
  text-align: left;
}

img.center {
    display: block;
    margin: 0 auto;
}

.butn {
  cursor: pointer;
  background: #e3e3e3;
  /*background-image: -webkit-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: -moz-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: -ms-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: -o-linear-gradient(top, #f9f9f9, #BDBDBD);
  background-image: linear-gradient(to bottom, #f9f9f9, #BDBDBD);*/
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  border: solid #e3e3e3 3px;
  text-decoration: none;
}

.butn:hover {
  background: #e3e3e3;
  /*background-image: -webkit-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: -moz-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: -ms-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: -o-linear-gradient(top, #e3e3e3, #e3e3e3);
  background-image: linear-gradient(to bottom, #e3e3e3, #e3e3e3);*/
  text-decoration: none;
  border: solid #cacaca 3px;
}

#resetMerge{
  width:120px;
}
select {
  cursor: pointer;
  border: 0.5px solid #BDBDBD;
  border-radius:4px;
}

input {
    cursor: pointer;
    /*background-color: #BDBDBD;*/
    color: black;
    padding: 5px 8px;
    border: 0.5px solid #BDBDBD;
    border-radius:4px;
}

input:hover{
    border-color: black;
    border: 1px solid #999;
    border-radius: 3px;
}

#cy {
      width: 60%;
      position: absolute;
      top: 160px;
      left: 190px;
      bottom: 70px;
      background-color:none;
      z-index: 2;
  }
#searchgene{
  margin-left: 30px;
}

#legend {
    position: absolute;
    top: 160px;
    left: 10px;
    font-size: 10px;
    width: 180px;
    height: 490px;
}
#legendNodes {
    position: absolute;
    margin-top: 10px;
    left: 10px;
    font-size: 10px;
    width: 180px;
    height: 200px;
}

#selectColorAttribute{
  margin-left: 30px;
}

.KEGGpathsButton{
  position: absolute;
  top: 160px;
  left:85%;
}
#KEGGpaths{
  position: absolute;
  top: 210px;
  left:86%;
}
#keggpathways{
  position: absolute;
  top: 180px;
  left:86%;
}
#keggpathwaysMerge{
  position: absolute;
  top: 148px;
  left:86%;
}
#KEGGpathsMerge{
  position: absolute;
  top: 185px;
  left:86%;
}

#subgraphs{
    margin-top: 5px;
    margin-left: 220px;
}

#keggpathwaysRight{
    position: absolute;
  top: 10px;
  left:84%;
}
#KEGGpathsRight{
    position: absolute;
  top: 30px;
  left:84%;
}
#keggpathwaysLeft{
    position: absolute;
  top: 10px;
  left:84%;
}
#KEGGpathsLeft{
    position: absolute;
  top: 30px;
  left:84%;
}

#heatmap_shapes{
  width: 200px;
  height: 200px;
  top: 10px;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    animation: spin 5s linear infinite;
    margin: 0 auto;
    width: 1vw;
    height: 1vw;
}
#loader{
    position: absolute; 
    top: 200px; 
    left: 85%; 
    right: 0; 
    
}

.loader1 {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    animation: spin 5s linear infinite;
    margin: 0 auto;
}
.loader1{
    position: absolute; 
    top: 370px; 
    left: 50%; 
    right: 0; 
}

#loaderLeft {
    position: absolute; 
    top: 50px; 
    left: 85%; 
    right: 0; 
    bottom: 0;
}

#loaderRight {
    position: absolute; 
    top: 50px; 
    left: 85%; 
    right: 0; 
    bottom: 0;
}

#loaderMerge {
    position: absolute; 
    top: 250px; 
    left: 81%; 
    right: 0; 
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

#heatmapcontainer {
    min-width: 300px;
    max-width: 1000px;
    height: 400px;
    margin: 1em auto;
}
/*#downloadPartLeft{
    margin-top: 20px;
}*/
#outputNameHeatmap{
    margin-left: 20px;
}
#left {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

#right {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 10px 10px 10px 10px;
}
#rightID{
    font-weight: bold;
}
#leftID{
    font-weight: bold;
}
#downloadPartRight{
    margin-top: 20px;
}
 #cyLeft {
    width: 85%;
    height: 100%;
    position: absolute;
    margin: 0% 5% 5% 0px;
}

#cyRight {
    width: 85%;
    height: 100%;
    position: absolute;
    margin: 0% 10% 5% 0%;
}
 #merged_graph {
      width: 65%;
      /*height: 75%;*/
      position: absolute;
      top: 200px;
      left: 280px;
      bottom: 90px;
      max-height : 80%;
      background-color:none;
      flex: 1;
}

#legend_heatmap {
    position: absolute;
    /*top: 700px;*/
    /*left: 10px;*/
    margin-top: 40px;
    font-size: 10px;
    margin-left: 10px;
}
#merged_graph_legend {
    font-size: 10px;
    margin-top: 10px;
}
#legendArrows {
    width: 300px;
    float:left;
}

#merged_graph_buttons{
    position: relative;
    margin: 0px 10px 10px 10px;
}

#selectlayoutMerge{
    position: relative;
    margin-left: 10px;
}

.center-div
{
     margin: 0 auto;
     width: 100px; 
}

/* Style the active class, and buttons on mouse-over */
.active{
  color: black;
  font-weight: bold;
}

.csc-default{
  flex: 1;
}

.entry-content{
  flex: 1;
}

.content{
  flex: 1;
}

footer 
{
  color: white;
  width: 98%;
}

.container {
  border-top: 1px solid #DCDCDC;
  width: 98%;
  margin: 1em auto;
  max-width: 100%;
  padding: 0 1em;
}

.containerMerged {
  position: fixed;
  bottom: 0;
  width: 98%;
  padding: 1em 1em;
  margin: 0.5em auto;
  border-top: 1px solid #DCDCDC;
  color: white;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
