<!doctype html>
<html><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Datenschutzerklärung</title>
  <meta name="description" content="">
  </script>
  	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/static/css/subgraphCss.css">
    <script src="https://kit.fontawesome.com/342fe75ec3.js" crossorigin="anonymous"></script>

</head>
  <body>
	<div class="topnav" id ="nav" style="margin-bottom: 20px">

        <div class="dropdown topnav-left">
          <button class="dropbtn_topnav"><i class="fas fa-bars"></i>  
          </button>
          <div class="dropdown-content">
            <a class="page-link" href="/BioGraphVisart/heatmap">Comparison</a>
      <a class="page-link"href="/BioGraphVisart/about" class="page-link">About</a>            
      <a class="page-link" href="/BioGraphVisart/documentation">Documentation</a>
            <a class="page-link" href="/BioGraphVisart/contact">Contact</a>
          </div>
        </div>
        <div class="topnav-centered">
            <a class="page-link" href="/BioGraphVisart">BioGraphVisart</a>
        </div>
        <div class="topnav-right">
            <div id="downloadPart" style="visibility: hidden" class="dropdown">
          <button class="dropbtnright"><i class="fas fa-file-download fa-sm"></i></button>
          <div id="downloadTypes" class="dropdown-content">
            <a onClick="downloadPDF()">PDF</a>
            <a onclick="downloadPNG()">PNG</a>
            <a onclick="downloadSVG()">SVG</a>
            <!--<a onclick="downloadJSON()">JSON</a>-->
          </div>
      </div>
        </div>
    </div>
 <header class="site-header">
    <h1 class="site-title">Datenschutzerklärung</h1>
  </header>
<div class="entry-content" itemprop="articleBody">
<p>Sehr geehrte Webseitenbesucher,</p>
<p>Vielen Dank für Ihren Besuch unserer Webseiten! Wir schätzen Ihr Interesse am BALL Projekt. Mittels dieser Datenschutzerklärung möchten wir Sie im Folgenden über die Datenverarbeitung Ihrer personenbezogenen Daten (im Folgenden „Daten“) informieren, die aus dem Besuch oder der Nutzung von Funktionen unserer Webseiten resultieren. Wir bitten Sie, diese Datenschutzerklärung sorgfältig durchzulesen, bevor Sie unsere Webseiten weiter besuchen oder die auf den Webseiten enthaltenen Funktionen nutzen. Mit dem Besuch unserer Webseiten stimmen Sie den im Folgenden beschriebenen Verarbeitungen und Nutzungen Ihrer Daten zu. Unsere Datenschutzerklärung ist nur für unsere Webseiten gültig und nicht für die Webseiten Dritter.</p>
<h4>Datenschutz und Datensicherheit</h4>
<p>Der Schutz Ihrer Privatsphäre ist uns ein wichtiges Anliegen. Zum Schutz Ihrer Daten trifft das BALL Projekt eine Vielzahl an technischen und organisatorischen Maßnahmen, um eine unbefugte Kenntnisnahme und Weitergabe, Manipulation, Verlust und unbefugte Löschung wirksam verhindern zu können.  Die von uns ergriffenen Maßnahmen unterliegen dabei der stetigen Aktualisierung. Wir orientieren uns dabei an den gesetzlichen Vorgaben, Best-Practice-Ansätzen sowie technischen Entwicklungen. Im Folgenden unterrichten wir Sie über Art, Umfang und Zweck der Erhebung, Verarbeitung und Nutzung Ihrer Daten in unserem BALL Projekt, sofern dies aus dem Besuch oder der Nutzung der Funktionen unserer Webseiten resultiert.</p>
<h4>Verantwortlicher für diese Datenschutzerklärung und diesen Onlineauftritt</h4>
<p>Prof. Dr. Oliver Kohlbacher<br />
Sand 14<br />
72076 Tübingen</p>
<h4>Ansprechpartner für den Datenschutz beim Verantwortlichen</h4>
<p>Prof. Dr. Oliver Kohlbacher<br />
Sand 14<br />
72076 Tübingen</p>
<h4>Umfang der Datenerhebung, -verarbeitung und -nutzung</h4>
<p>Grundsätzlich verfolgen wir das Ziel, die Erhebung, Verarbeitung und Nutzung von personenbezogenen Daten während Ihres Besuchs unserer Webseiten, auf das erforderliche Mindestmaß zu beschränken. Auch erheben wir i.d.R. nur diejenigen Daten von Ihnen, die wir zwingend zur Zweckerfüllung benötigen. Ebenfalls erheben wir wissentlich keine personenbezogenen Daten von Minderjährigen (= Personen unter 18 Jahren). In Fällen, in denen wir feststellen, dass uns personenbezogene Daten durch Minderjährige zur Verfügung gestellt wurden, löschen wir diese Daten umgehend. Erziehungsberechtigten empfehlen wir, auf die Internet-Aktivitäten der in ihrer Obhut befindlichen Minderjährigen zu achten.</p>
<h4>Personenbezogene Daten</h4>
<p>Personenbezogene Daten sind gemäß Art. 4 DSGVO alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen. Dies sind z.B. Angaben wie der Vor- und Nachname, die Anschrift, die E-Mail-Adresse, die Telefon- oder Mobilfunknummer, aber i.d.R. auch die IP-Adresse.</p>
<h4>Zweck der Datenverarbeitungen</h4>
<p>Sofern Sie uns Ihre Daten freiwillig zu den im Folgenden aufgeführten Zwecken mitteilen, verarbeiten und nutzen wir diese Daten ausschließlich für die Zwecke, für die Sie uns Ihre Daten zukommen lassen haben. Hierzu zählen derzeit folgende Zwecke:</p>
<h4>Portale und Plattformen zum Datenaustausch</h4>
<p>Sofern Sie uns Ihre Daten über unsere Webseiten erreichbare Portale oder Plattformen zukommen lassen bzw. zum Abruf bereitstellen, verarbeiten und nutzen wir die von Ihnen zur Verfügung gestellten Daten ausschließlich zu den Zwecken, zu denen Sie uns die Daten zukommen lassen haben. Wir möchten Sie darauf hinweisen, dass, sofern die Portale oder Plattformen durch externe Webseitenanbieter betrieben werden, möglicher Weise andere Datenschutzregeln gelten, als auf unseren Webseiten. Bitte informieren Sie sich vorab hierzu und lesen Sie auch den Punkt „Verlinkte Webseiten“ in dieser Datenschutzerklärung.</p>
<h4>Verbesserung unseres Onlineauftritts</h4>
<p>Zur Verbesserung der Gestaltung und Inhalte unserer Webseiten, der Funktionen unseres Onlineauftritts und der Benutzerfreundlichkeit unserer Webseiten erheben, verarbeiten und nutzen wir folgende Daten:</p>
<ul>
<li>Datum und Uhrzeit des Webseitenbesuchs</li>
<li>die Internetseite, von der aus Sie unsere Webseiten aus aufgerufen haben</li>
<li>das durch Sie eingesetzte Betriebssystem</li>
<li>den durch Sie eingesetzten Browser</li>
<li>die IP-Adresse, mit der Sie unsere Webseiten besuchen</li>
<li>die auf Ihrem Gerät verwendeten Spracheinstellungen</li>
<li>die von Ihnen aufgerufenen Seiten unseres Onlineauftritts oder die von unseren Webseiten heruntergeladenen Dateien</li>
<li>die während Ihres Besuchs unserer Webseiten übertragene Datenmenge</li>
<li>eine Mitteilung, ob der Aufruf unserer Webseiten erfolgreich war</li>
</ul>
<p>Wir erheben, verarbeiten und nutzen diese Daten ausschließlich zu den zuvor benannten statistischen und nicht kommerziellen Zwecken in anonymisierter oder pseudonymisierter Form, sodass ein Rückschluss auf Ihre Person möglichst verhindert wird.</p>
<h4>Cookies</h4>
<p>Auf unseren Webseiten setzen wir „Cookies“ ein. Cookies sind Textdateien, die auf dem Speicher des Gerätes, von dem aus Sie unsere Webseiten aufgerufen haben, platziert werden. Wir setzen sowohl dauerhafte Cookies als auch temporäre Cookies (sog. Session-Cookies) ein. Dauerhafte Cookies können einige Sekunden bis mehrere Jahre lang auf Ihrem Gerät gespeichert werden. Temporäre Cookies werden automatisch gelöscht, sobald Sie Ihren Browser schließen bzw. die Session beenden.</p>
<p>Cookies helfen uns</p>
<ul>
<li>bei der Identifizierung der Häufigkeit der Besuche der Webseitenbereiche</li>
<li>Präferenzen unserer Webseitenbesucher zu erkennen und die Webseiten entsprechend optimal gestalten zu können</li>
<li>die Navigation auf unseren Webseiten zu erleichtern und damit die Benutzerfreundlichkeit unserer Webseiten zu steigern</li>
<li>Informationen über einen bestimmten Zeitraum vorzuhalten und den Rechner der Webseitenbesucher zu identifizieren, sobald sie wieder auf unsere Webseiten zurückkehren. Dadurch ist es z.B. möglich, die zuvor von Ihnen gewählten Einstellungen zu verwenden, so dass Sie die Einstellungen nicht erneut vornehmen müssen (z.B. Spracheinstellungen, Log-In-Informationen).</li>
</ul>
<p>Sofern Sie nicht möchten, dass Cookies auf Ihrem Gerät gespeichert werden, können Sie Ihren Browser so einstellen, dass er Sie über die Platzierung von Cookies benachrichtigt oder diese nicht akzeptiert. Sie können auch entscheiden, ob sie nur einige wenige oder alle Kategorien von Cookies annehmen bzw. blockieren möchten. Weitere Informationen zum Umgang mit Cookies finden Sie in der Onlinehilfe Ihres verwendeten Browsers. Sofern Sie durch uns eingesetzte Cookies blockieren, möchten wir Sie darüber informieren, dass Sie möglicherweise einzelne Funktionen unserer Webseite nicht oder nur eingeschränkt verwenden können.</p>
<h4>Verlinkte Webseiten</h4>
<p>Unsere Webseiten verfügen über Verlinkungen zu externen Webseiten. Auf die Inhalte dieser Webseiten haben wir keinen Einfluss und übernehmen daher keine Verantwortung oder Haftung für die Zulässigkeit, Richtigkeit, Darstellung und Vollständigkeit der dort veröffentlichten bzw. angezeigten oder abrufbaren Inhalte. Wir informieren Sie hiermit darüber, dass beim Aufruf dieser externen Webseiten möglicherweise Ihre IP-Adresse durch den jeweils zuständigen Webseitenbetreiber protokolliert wird. Wenn Sie unsere Webseiten verlassen, empfehlen wir, die Datenschutzerklärung der externen Webseitenbetreiber zu prüfen, bevor Sie die Webseiten aufrufen oder die dortigen Funktionen nutzen.</p>
<h4>Übermittlung oder Weitergabe Ihrer Daten</h4>
<p>Eine Übermittlung an Dritte bzw. eine Weitergabe an unsere Geschäftspartner Ihrer durch uns erhobenen, verarbeiteten oder genutzten Daten erfolgt grundsätzlich nicht ohne Ihr ausdrückliches Einverständnis, es sei denn, dass dies:</p>
<ul>
<li>zur Abwicklung unserer vertraglich zugesicherten Leistungen erforderlich ist.</li>
<li>zur Durchsetzung unserer Forderungen notwendig wird.</li>
<li>durch einen gesetzlichen Erlaubnistatbestand legimitiert wird oder wir gesetzlich zur Weitergabe der Daten verpflichtet sind.</li>
<li>für Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zum Schutz unserer Webseiten.</li>
<li>zur Durchsetzung der Rechte Dritter oder im Rahmen der gesetzlichen Auskunftspflichten bzw. einer gerichtlichen Anordnung zur Erteilung der Auskunft erforderlich ist.</li>
</ul>
<h4>Datenübermittlung ins Ausland</h4>
<p>Eine Übermittlung Ihrer Daten an Stellen in Länder außerhalb der Europäischen Union ist aufgrund unserer Tätigkeiten nicht erforderlich und findet daher derzeit nicht statt.</p>
<h4>Auskunftsrecht</h4>
<p>Webseitenbesucher unseres Onlineauftritts haben gemäß Art. 15 DSGVO das Recht, auf Anfrage, jederzeit und kostenfrei Auskunft über Ihre im BALL Projekt zu Ihrer Person verarbeiteten Daten zu erhalten. Der Umfang der Auskunft ergibt sich aus Art. 15 DSGVO. Ihr Auskunftsbegehren richten Sie bitte via Mail oder per Post an den oben genannten Ansprechpartner für Datenschutz.</p>
<h4>Recht auf Berichtigung Ihrer Daten</h4>
<p>Sie haben gemäß Art. 16 DSGVO das Recht, bei Vorliegen unrichtiger oder unvollständiger Daten über Sie, die Berichtigung oder Vervollständigung dieser zu verlangen. Wir werden entsprechende Anfragen prüfen und in berechtigten Fällen die erforderlichen Maßnahmen ergreifen.</p>
<h4>Recht auf Löschung und Sperrung Ihrer Daten</h4>
<p>Sie haben gemäß Art. 17 DSGVO das Recht auf Löschung Ihrer Daten.</p>
<p>Die von uns über Sie gespeicherten Daten werden datenschutzkonform vernichtet bzw. gelöscht, wenn</p>
<ul>
<li>die gesetzlichen Aufbewahrungsfristen abgelaufen sind, oder</li>
<li>die Erhebung oder Verarbeitung unrechtmäßig ist bzw. war, oder</li>
<li>die Daten zur Erfüllung der Zwecke, zu denen sie erhoben wurden, nicht mehr erforderlich sind oder</li>
<li>sofern Sie Ihre Einwilligung zur Verarbeitung und Nutzung widerrufen haben</li>
<li>sofern Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer Daten einlegen und keine vorrangigen berechtigten Gründe für die Verarbeitung vorliegen</li>
</ul>
<p>Wir informieren Sie darüber, dass eine vollständige Löschung erst nach Ablauf der entsprechenden Fristen der steuer- und handelsrechtlichen Vorschriften erfolgt. Bis zum Ablauf dieser Fristen und bis zur endgültigen Löschung werden Ihre Daten entsprechend gesperrt und von uns nicht weiterverarbeitet.</p>
<h4>Recht auf Einschränkung der Datenverarbeitung</h4>
<p>Sie haben gemäß Art. 18 DSGVO das Recht, von uns die Einschränkung der Verarbeitung Ihrer Daten in den in Art. 18 DSGVO festgelegten Fällen und Umfängen zu verlangen. Wir werden entsprechende Anfragen prüfen und in berechtigten Fällen die erforderlichen Maßnahmen ergreifen.</p>
<h4>Recht auf Datenübertragbarkeit</h4>
<p>Sie haben gemäß Art. 20 DSGVO das Recht, Ihre von uns verarbeiteten Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Auf Ihren ausdrücklichen Wunsch hin, werden wir Ihre Daten, an die von Ihnen eindeutig benannten Stellen übermitteln, soweit wir dies technisch leisten können und dies datenschutzrechtlich zulässig ist.</p>
<h4>Widerrufs- und Widerspruchsrecht</h4>
<p>Sie haben das Recht, jederzeit und ohne Angabe von Gründen kostenfrei die uns von Ihnen erteilte Einwilligung zur Erhebung, Verarbeitung und Nutzung Ihrer Daten für die Zukunft zu widerrufen bzw. gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer Daten einzulegen. Ihren Widerruf Ihrer Einwilligung bzw. Widerspruch richten Sie bitte via Mail oder per Post an den oben genannten Ansprechpartner für Datenschutz.</p>
<h4>Recht auf Beschwerde bei einer Aufsichtsbehörde</h4>
<p>Sie haben gemäß Art. 14 i.V.m. Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde für den Datenschutz, sofern Sie der Ansicht sind, dass die Verarbeitung Ihrer Daten gegen die DSGVO verstößt. Die zuständige Aufsichtsbehörde ist diejenige, in dem unser Unternehmen seinen Hauptsitz hat.</p>
<h4>Recht auf wirksamen gerichtlichen Rechtsbehelf gegen den Verantwortlichen</h4>
<p>Sie haben gemäß Art. 79 DSGVO das Recht auf einen wirksamen gerichtlichen Rechtsbehelf, wenn Sie der Ansicht sind, dass Ihre zuvor aufgeführten Rechte infolge einer nicht im Einklang mit den Anforderungen der DSGVO stehenden Verarbeitung Ihrer Daten durch uns oder einen von uns beauftragten Auftragsverarbeiter verletzt wurden.</p>
<h4>Haftung und Recht auf Schadenersatz</h4>
<p>Sie haben gemäß Art. 82 DSGVO das Anspruch auf Schadenersatz gegen uns oder die durch uns beauftragte Auftragsverarbeiter, sofern Ihnen wegen eines Verstoßes gegen die DSGVO ein materieller oder immaterieller Schaden entstanden ist.</p>
<h4>Änderung der Datenschutzerklärung</h4>
<p>Diese Datenschutzerklärung wird bei neuen gesetzlichen Vorgaben oder wesentlichen Änderungen des Funktionsumfangs unserer Webseiten mit Wirkung für die Zukunft aktualisiert. Wir empfehlen Ihnen daher, unsere Datenschutzerklärung in regelmäßigen zeitlichen Abständen durchzulesen.</p>
<p>Letzte Änderung: 22.05.2018</p>


</div>
<footer>
	<div class="container">
		<a class="page-link" href="/imprint/">Imprint</a><br>
		<a class="page-link" href="/datenschutzerklarung/" aria-current="page">Datenschutzerklärung</a>	
	</div>	
</footer>
</body></html>