#cy {
	style: [
       // style nodes
    {selector: 'node',
      style: {
        width: 50,
        height: 50,
        shape: 'ellipse',
        'background-color': 'white',
        'border-color' : 'black',
        'border-style' : 'solid',
        'border-width' : '2',
        label: 'data(symbol)',
        "text-valign" : "center",
        "text-halign" : "center",
        "font-size" : 10
    }},
    {selector: 'node[val < 0]',
      style: {
        'background-color': 'mapData(val, -10, 0, blue, white)'
    }},
    {selector: 'node[val > 0]',
      style: {
        'background-color': 'mapData(val, 0, 10, white, red)'
    }},

    // style edges
    {selector: 'edge',
      style: {
        'mid-target-arrow-shape': 'triangle',
      }},
  ]
}