<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>BioGraphVisart</title>
	

	<link rel="stylesheet" type="text/css" href="https://raw.githack.com/MirjamFi/BioGraphVisart/master/static/css/subgraphCss.css">
  <script src="https://kit.fontawesome.com/342fe75ec3.js" crossorigin="anonymous"></script> 
	   	
	
</head>


<body id="everything">
	<script type="text/javascript">
		if (window.File && window.FileReader && window.FileList && window.Blob) {
		  // Great success! All the File APIs are supported.
		} else {
		  alert('The File APIs are not fully supported in this browser.');
		}
	</script>
	<div class="content">
	 <div class="topnav" id ="nav" style="margin-bottom: 20px">

        <div class="dropdown topnav-left">
          <button class="dropbtn_topnav"><i class="fas fa-bars"></i>  
          </button>
          <div class="dropdown-content">
            <a class="page-link" href="/BioGraphVisart/heatmap">Comparison</a>
      <a class="page-link"href="/BioGraphVisart/about" class="page-link">About</a>            
      <a class="page-link" href="/BioGraphVisart/documentation">Documentation</a>
            <a class="page-link" href="/BioGraphVisart/contact">Contact</a>
          </div>
        </div>
        <div class="topnav-centered">
            <a class="page-link" href="/BioGraphVisart">BioGraphVisart</a>
        </div>
    </div>

    <div class="entry-content">
      <article class="post-content">

<!--       <p style="width: 25%;margin-top:40px; float: left">
        <a href="#GeneralDoc" style="color:black; font-weight: 600; font-size: 18px;">General</a><br>
        <a href="#NodesDoc" class="tab"style="color:black; font-weight: 500; font-size: 16px;">Comparison</a><br>
      </p> -->
      <!-- <p style="width: 50%; margin-left:25%; font-size:30px;margin-top:40px" id="GeneralDoc">General</p> -->
      <p style="width: 50%; margin-left:25%; margin-top:40px">

        <a href="/BioGraphVisart/BioGraphVisart"><strong>BioGraphVisart</strong></a> is a web-based tool to interactively visualize networks, especially with biological background. <br><br>
        It is written in javascript based on <a href="http://js.cytoscape.org">Cytoscape.js</a>. 
        The input is a graphml-file (<a href="https://raw.githubusercontent.com/MirjamFi/BioGraphVisart/master/example.graphml">graphml-example</a>) or sif-file (<a href="https://raw.githubusercontent.com/MirjamFi/BioGraphVisart/master/example.sif">sif-example</a>). <br>
        In addition to nodes and edges (genes and interaction types, respectively), GraphML can store information such as expression values as node attributes (more on <a href="http://graphml.graphdrawing.org">GraphML Format</a>). 
        SIF cannot store additional information (more on <a href="http://www.cbmc.it/fastcent/doc/SifFormat.htm">SIF Format</a>).<br><br>
        Fig. 1 shows the network graph of the <a href="https://raw.githubusercontent.com/MirjamFi/BioGraphVisart/master/example.graphml">graphml-example</a>. <a href="example"><strong>Here</strong></a> the example is displayed in BioGraphVisart. <br><br>

        A more detailed description is given in the <a href="documentation">Documentation</a>.<br><br>
        <img class="center" src="templates/overview_annotated.png"width="80%" height="100%" style="margin-top: 10px;" /><br>
         <small>Figure 1. The red and blue numbers indicate static sections and interactive sections modifying the representation of network graph, respectively: (1) upload, (2) selection of node color attribute (number, Boolean), (3) node color legend, (4) edge style legend (According to KEGG), (5) collapse multiple edges between two nodes, (6) mouse over node displays name and value, mouse over edge displays interaction type(s), (7) layout selection, (8) highlight boolean attribute by node shape, (9) node shape legend, (10) search node by its label, (11) withdrawal of node deletion, (12) layout reset for user can zoom in and out, relocate individual nodes or entire graph, and (13) highlight KEGG pathways that appear most for displayed genes.</small>
      </p>
      <hr style="width: 50%; margin-left:25%;">
      <p style="width: 50%; margin-left:25%; font-size:30px;" id="NodesDoc">Comparison</p>
        <p style="width: 50%; margin-left:25%">
          For direct <a href="heatmap"><strong>Comparison of network graphs</strong></a> the node overlap can be calculated and be displayed in a heatmap. Also a merged network graph of two selected network graphs can be generated.<br><br>
          The input are multiple graphml-files. 
          <br><br>
          <a href="exampleComparison"><strong>Here</strong></a> an example with four network graphs is displayed in BioGraphVisart.

        </p>
  </article>
</div>

<footer id="footer">
    <div class="containerMerged">
        <a href="imprint">Imprint</a><br>
        <a href="datenschutzerklarung" aria-current="page">Datenschutzerklärung</a>   
    </div>  
</footer>
</body>

</html>
